{% extends 'base.html' %} 

{% block title %}SHOP{% endblock title %}

{% block content %}

<h1>{{now}}</h1>
<h1 class="text-lg">제품리스트</h1>
<div class="grid grid-cols-4 gap-4">
{% for product in products %}
    {% include "mixins/product_card.html" with product=product page=page %}
{% endfor %}
</div>
<h5>
{% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
{% endif %}

Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}">Next</a>
{% endif %}
</h5>


{% endblock content %}
